body{
  background-color:#fffaf0;
  font-size:14px;
  color: #000000;
  min-width: 300px;
}

#container{
  width:900px;
  margin: auto;
}

#header{
  height: 140px;
  background-image:url(img/header_img.jpg);
  background-size: 900px 140px;
  background-repeat: no-repeat;
  
}

#header h1{
  width: 270px;
  height: 140px;
}


#header h1 img {
  margin: 15px 10px;
  width:250px;
  height:110px;
}


#menu{
  width:265px;
  float:left;
}

#content{
  width:635px;
  float:right;
  background-color:#ffffff;
}

#content h2 img {
  width:635px;
  height:300px;

}

#content p img {
  width:240px;
  height:160px;
}


img{
  border-style:none;
}

#menu ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

#menu li{
  border-style:solid;
  border-width:1px;
  border-color:#86a331;
  padding:10px 10px 10px 6px;
  background-color:#ffffff;
  margin-top:14px;
  margin-right:14px;
}

a:link{
  color:#6a8125;
  text-decoration:none;
}

a:hover{
  color:#f3a42C;
}

#content h3{
  background-image:url(img/icon.png);
  background-repeat:no-repeat;
  background-position:left center;
  color:#FF9933;
  padding-left:16px;
  margin-left:15px;
  clear:right;
}

#content p{
padding-right:15px;
padding-left:15px;
}

#content p img{
  float:right;
}

.mail {
  padding-right: 40px;
  background: url(img/link.png) right center/30px auto no-repeat;
}
/*background: url()  position/size 高さ自動 repeat  */

#footer{
  text-align:center;
  clear:right;
  padding-top:20px;
  padding-bottom:20px;
}

/*レスポンシブ用スタイル*/
@media screen and (max-width:600px){

body {
  width: auto;
  }

#container{
  width: 100%;
}

  /*------------------------------
  #header
  -------------------------------*/

  #header {
    width: 100%;
    background-size: none;
  }

  #header h1 {
    margin:0 auto;
  }


  /*----------------------------
  #menu
  ----------------------------*/
 #menu {
  float: none;
  width: auto;
  text-align: center;
  
 }

 #menu ul{
  width: 100%;
  height: auto;
  display: block;

}
#menu li{
  display: block;
  padding: 0;
  width: calc(100% - 15px);
  height: 50px;
  margin: 10px auto;

}

#menu li a{
  line-height: 50px;
}





 /*-------------------------------
 #content
 -------------------------------*/

 
 #content{
    width:100%;
  }
  
 #content h2 img{
    width:100%;
  }
  
  #content p img{
    float: none;
    display: block;
    margin:0 auto;

  }

}